@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }
  .h1{
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2{
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3{
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  .text-animation {
    font-size: 34px;
    font-weight: 600;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(14) infinite;
  }
  
  .text-animation::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: var(--bg-color);
    animation: cursor 0.6s infinite;
  }
  
  @keyframes cursor {
    50% {
      background-color: var(--main-color);
    }
  }
  
  @keyframes typing {
    0%, 100% {
      width: 0;
    }
    50% {
      width: 100%;
    }
  }

  .text-outline {
    -webkit-text-stroke: 1px white; 
    color: transparent;
  }
}